* text=auto !eol
bin/data/glossary.json -text
bin/data/menu.json -text
bin/data/readme.txt -text
bin/data/sample.json -text
bin/data/webapp.json -text
bin/data/widget.json -text
bin/encodings/utf16be.json -text
bin/encodings/utf16bebom.json -text
bin/encodings/utf16le.json -text
bin/encodings/utf16lebom.json -text
bin/encodings/utf32be.json -text
bin/encodings/utf32bebom.json -text
bin/encodings/utf32le.json -text
bin/encodings/utf32lebom.json -text
bin/encodings/utf8.json -text
bin/encodings/utf8bom.json -text
bin/jsonchecker/fail1.json -text
bin/jsonchecker/fail10.json -text
bin/jsonchecker/fail11.json -text
bin/jsonchecker/fail12.json -text
bin/jsonchecker/fail13.json -text
bin/jsonchecker/fail14.json -text
bin/jsonchecker/fail15.json -text
bin/jsonchecker/fail16.json -text
bin/jsonchecker/fail17.json -text
bin/jsonchecker/fail18.json -text
bin/jsonchecker/fail19.json -text
bin/jsonchecker/fail2.json -text
bin/jsonchecker/fail20.json -text
bin/jsonchecker/fail21.json -text
bin/jsonchecker/fail22.json -text
bin/jsonchecker/fail23.json -text
bin/jsonchecker/fail24.json -text
bin/jsonchecker/fail25.json -text
bin/jsonchecker/fail26.json -text
bin/jsonchecker/fail27.json -text
bin/jsonchecker/fail28.json -text
bin/jsonchecker/fail29.json -text
bin/jsonchecker/fail3.json -text
bin/jsonchecker/fail30.json -text
bin/jsonchecker/fail31.json -text
bin/jsonchecker/fail32.json -text
bin/jsonchecker/fail33.json -text
bin/jsonchecker/fail4.json -text
bin/jsonchecker/fail5.json -text
bin/jsonchecker/fail6.json -text
bin/jsonchecker/fail7.json -text
bin/jsonchecker/fail8.json -text
bin/jsonchecker/fail9.json -text
bin/jsonchecker/pass1.json -text
bin/jsonchecker/pass2.json -text
bin/jsonchecker/pass3.json -text
bin/jsonchecker/readme.txt -text
build/Doxyfile -text
build/premake -text
build/premake.bat -text
build/premake4.lua -text
example/condense/condense.cpp -text
example/pretty/pretty.cpp -text
example/prettyauto/prettyauto.cpp -text
example/serialize/serialize.cpp -text
example/tutorial/tutorial.cpp -text
include/rapidjson/allocators.h -text
include/rapidjson/document.h -text
include/rapidjson/encodedstream.h -text
include/rapidjson/encodings.h -text
include/rapidjson/filereadstream.h -text
include/rapidjson/filestream.h -text
include/rapidjson/filewritestream.h -text
include/rapidjson/internal/pow10.h -text
include/rapidjson/internal/stack.h -text
include/rapidjson/internal/strfunc.h -text
include/rapidjson/prettywriter.h -text
include/rapidjson/rapidjson.h -text
include/rapidjson/reader.h -text
include/rapidjson/stringbuffer.h -text
include/rapidjson/writer.h -text
/license.txt -text
/readme.txt -text
test/perftest/jsoncpptest.cpp -text
test/perftest/misctest.cpp -text
test/perftest/perftest.cpp -text
test/perftest/perftest.h -text
test/perftest/platformtest.cpp -text
test/perftest/rapidjsontest.cpp -text
test/perftest/ultrajsontest.cpp -text
test/perftest/yajl_all.c -text
test/perftest/yajltest.cpp -text
test/unittest/documenttest.cpp -text
test/unittest/encodedstreamtest.cpp -text
test/unittest/encodingstest.cpp -text
test/unittest/filestreamtest.cpp -text
test/unittest/jsoncheckertest.cpp -text
test/unittest/readertest.cpp -text
test/unittest/unittest.cpp -text
test/unittest/unittest.h -text
test/unittest/valuetest.cpp -text
test/unittest/writertest.cpp -text
thirdparty/gtest/CHANGES -text
thirdparty/gtest/CONTRIBUTORS -text
thirdparty/gtest/COPYING -text
thirdparty/gtest/README -text
thirdparty/gtest/include/gtest/gtest-death-test.h -text
thirdparty/gtest/include/gtest/gtest-message.h -text
thirdparty/gtest/include/gtest/gtest-param-test.h -text
thirdparty/gtest/include/gtest/gtest-param-test.h.pump -text
thirdparty/gtest/include/gtest/gtest-printers.h -text
thirdparty/gtest/include/gtest/gtest-spi.h -text
thirdparty/gtest/include/gtest/gtest-test-part.h -text
thirdparty/gtest/include/gtest/gtest-typed-test.h -text
thirdparty/gtest/include/gtest/gtest.h -text
thirdparty/gtest/include/gtest/gtest_pred_impl.h -text
thirdparty/gtest/include/gtest/gtest_prod.h -text
thirdparty/gtest/include/gtest/internal/gtest-death-test-internal.h -text
thirdparty/gtest/include/gtest/internal/gtest-filepath.h -text
thirdparty/gtest/include/gtest/internal/gtest-internal.h -text
thirdparty/gtest/include/gtest/internal/gtest-linked_ptr.h -text
thirdparty/gtest/include/gtest/internal/gtest-param-util-generated.h -text
thirdparty/gtest/include/gtest/internal/gtest-param-util-generated.h.pump -text
thirdparty/gtest/include/gtest/internal/gtest-param-util.h -text
thirdparty/gtest/include/gtest/internal/gtest-port.h -text
thirdparty/gtest/include/gtest/internal/gtest-string.h -text
thirdparty/gtest/include/gtest/internal/gtest-tuple.h -text
thirdparty/gtest/include/gtest/internal/gtest-tuple.h.pump -text
thirdparty/gtest/include/gtest/internal/gtest-type-util.h -text
thirdparty/gtest/include/gtest/internal/gtest-type-util.h.pump -text
thirdparty/gtest/src/gtest-all.cc -text
thirdparty/gtest/src/gtest-death-test.cc -text
thirdparty/gtest/src/gtest-filepath.cc -text
thirdparty/gtest/src/gtest-internal-inl.h -text
thirdparty/gtest/src/gtest-port.cc -text
thirdparty/gtest/src/gtest-printers.cc -text
thirdparty/gtest/src/gtest-test-part.cc -text
thirdparty/gtest/src/gtest-typed-test.cc -text
thirdparty/gtest/src/gtest.cc -text
thirdparty/gtest/src/gtest_main.cc -text
thirdparty/jsoncpp/AUTHORS -text
thirdparty/jsoncpp/LICENSE -text
thirdparty/jsoncpp/README.txt -text
thirdparty/jsoncpp/include/json/autolink.h -text
thirdparty/jsoncpp/include/json/config.h -text
thirdparty/jsoncpp/include/json/features.h -text
thirdparty/jsoncpp/include/json/forwards.h -text
thirdparty/jsoncpp/include/json/json.h -text
thirdparty/jsoncpp/include/json/reader.h -text
thirdparty/jsoncpp/include/json/value.h -text
thirdparty/jsoncpp/include/json/writer.h -text
thirdparty/jsoncpp/src/jsontestrunner/main.cpp -text
thirdparty/jsoncpp/src/jsontestrunner/sconscript -text
thirdparty/jsoncpp/src/lib_json/json_batchallocator.h -text
thirdparty/jsoncpp/src/lib_json/json_internalarray.inl -text
thirdparty/jsoncpp/src/lib_json/json_internalmap.inl -text
thirdparty/jsoncpp/src/lib_json/json_reader.cpp -text
thirdparty/jsoncpp/src/lib_json/json_value.cpp -text
thirdparty/jsoncpp/src/lib_json/json_valueiterator.inl -text
thirdparty/jsoncpp/src/lib_json/json_writer.cpp -text
thirdparty/jsoncpp/src/lib_json/sconscript -text
thirdparty/jsoncpp/src/test_lib_json/jsontest.cpp -text
thirdparty/jsoncpp/src/test_lib_json/jsontest.h -text
thirdparty/jsoncpp/src/test_lib_json/main.cpp -text
thirdparty/jsoncpp/src/test_lib_json/sconscript -text
thirdparty/jsoncpp/version -text
thirdparty/ultrajson/README -text
thirdparty/ultrajson/ultrajson.h -text
thirdparty/ultrajson/ultrajsondec.c -text
thirdparty/ultrajson/ultrajsonenc.c -text
thirdparty/yajl/COPYING -text
thirdparty/yajl/ChangeLog -text
thirdparty/yajl/README -text
thirdparty/yajl/TODO -text
thirdparty/yajl/include/yajl/yajl_common.h -text
thirdparty/yajl/include/yajl/yajl_gen.h -text
thirdparty/yajl/include/yajl/yajl_parse.h -text
thirdparty/yajl/include/yajl/yajl_tree.h -text
thirdparty/yajl/include/yajl/yajl_version.h -text
thirdparty/yajl/src/CMakeLists.txt -text
thirdparty/yajl/src/YAJL.dxy -text
thirdparty/yajl/src/api/yajl_common.h -text
thirdparty/yajl/src/api/yajl_gen.h -text
thirdparty/yajl/src/api/yajl_parse.h -text
thirdparty/yajl/src/api/yajl_tree.h -text
thirdparty/yajl/src/api/yajl_version.h.cmake -text
thirdparty/yajl/src/yajl -text
thirdparty/yajl/src/yajl.c -text
thirdparty/yajl/src/yajl_alloc.c -text
thirdparty/yajl/src/yajl_alloc.h -text
thirdparty/yajl/src/yajl_buf.c -text
thirdparty/yajl/src/yajl_buf.h -text
thirdparty/yajl/src/yajl_bytestack.h -text
thirdparty/yajl/src/yajl_encode.c -text
thirdparty/yajl/src/yajl_encode.h -text
thirdparty/yajl/src/yajl_gen.c -text
thirdparty/yajl/src/yajl_lex.c -text
thirdparty/yajl/src/yajl_lex.h -text
thirdparty/yajl/src/yajl_parser.c -text
thirdparty/yajl/src/yajl_parser.h -text
thirdparty/yajl/src/yajl_tree.c -text
thirdparty/yajl/src/yajl_version.c -text
